# Dependencies
node_modules

# Build output
/build
/public/build

# Cypress
/cypress/screenshots
/cypress/videos

# Prisma
/prisma/data.db
/prisma/data.db-journal

# Styles
/app/styles/tailwind.css

# Environment variables and credentials
.env
.*credentials.json
